body{
	font-family:Georgia;
	margin:0;
}
#baner1, #baner2, #baner3, #stopa1, #stopa2, #stopa3{
	background-color:Sienna;
	color:white;
	height:150px;
	float:left;
}
#baner1, #stopa1{
	width:40%;
}
#baner2, #stopa2{
	width:50%;
	font-size:150%;
}
#baner3, #stopa3{
	width:10%;
	text-align:center;
}
#main{
	background-color:Tan;
	padding:100px;
	padding-top:200px;
}
a{
	border:1px dashed Sienna;
	background-color:Tan;
	color:Sienna;
	padding:40px;
	line-height:150px;
}
li{
	list-style-type:circle;
}